:root {
    --bg-main: #0b132b;
    --bg-card: #1c2541;
    --primary: #5bc0be;
    --secondary: #3a86ff;
    --text: #ffffff;
    --muted: #cbd5e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: var(--bg-main);
    color: var(--text);
    overflow-x: hidden;
}

.menu-toggle {
    display: block;
    font-size: 2rem;
    color: var(--text);
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {
    .about-box img {
        display: block;
        margin: 0 auto;
    }
    .about-box {
        align-items: center;
    }
    .navbar {
        padding: 20px;
    }

    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: flex; 
        position: static; 
        flex-direction: row; 
        gap: 30px; 
        width: auto;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        padding: 15px 0;
    }
}


/* NAVBAR  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #020617;
    position: relative;
}

.navbar ul {
    list-style: none; 
    display: none; 
    flex-direction: column; 
    gap: 15px; 
    position: absolute; 
    top: 60px; 
    right: 0; 
    width: 100%; 
    background: #020617; 
    padding: 15px 0;
}

.navbar ul li {
    text-align: center;
}

.navbar ul li a {
    color: var(--text); 
    text-decoration: none; 
    font-size: 1.1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--primary);
}

.navbar h1 {
    font-size: 1.8rem;
}

/* Show menu when active */
.navbar ul.active {
    display: flex;
}

/* HOME */

@keyframes floatImage {
    0% {
    transform: translateY(0) rotate(0deg);
}
    50% {
    transform: translateY(-15px) rotate(1deg);
}
    100% {
    transform: translateY(0) rotate(0deg);
}
}


.home {
    padding: 80px 20px;
    margin-top: 150px;
}

.home-content {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 1rem;
}

.home img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--primary);
    animation: floatImage 3s ease-in-out infinite;
}

.social-media i {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media a:hover {
    box-shadow: 0 0 1.6rem var(--primary);
}


/* BUTTON */
.btn {
    display: inline-block;
    text-decoration: none;
    background: var(--primary);
    border: none;
    padding: 12px 25px;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
    transition: 0.3s ease;
}

.btn:hover {
    background: var(--secondary);
    box-shadow: 0 0 1.6rem var(--primary);
}


/* ABOUT */
.about {
    padding: 60px 20px;
    font-size: 1rem;
    margin-top: 200px;
}

.about-box {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 30px;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

.about img {
    width: 230px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--primary);
}

/* SERVICES */
.services {
    margin-top: 100px;
    padding: 60px 20px;
    text-align: center;
    font-size: 1rem;
}

.service-card:hover {
    border: 2px solid #ffffff;
}

.services h2 {
    font-size: 18px;
}

.service-card {
    background: var(--bg-card);
    margin: 20px auto;
    padding: 40px;
    border-radius: 30px;
    max-width: 100%;
}

/* PROJECTS */
.projects {
    margin-top: 100px;
    padding: 60px 20px;
    font-size: 1rem;
}

.projects a {
    text-decoration: none;
}

.projects h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.project-box {
    background: var(--bg-card);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.project-box:hover {
    border: 1px solid #ffffff;
}

.project-box span {
    color: var(--secondary);
}

/* CONTACT */
.contact {
    margin-top: 100px;
    padding: 60px 20px;
    text-align: center;
}

.contact h1 {
    font-size: 32px;
    padding-bottom: 15px;
}

form {
    max-width: 600px;
    margin: auto;
}
input, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #020617;
    border: 1px solid var(--primary);
    color: white;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #020617;
    padding: 30px 15px;
    text-align: center;
}
.socials i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
} 



